body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}
a {
  text-decoration: none;
}
/* logo */
.nav-links .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.nav-links-logo-studio {
  color: #2e2f42;
}
/* nav menu */
.nav-links .link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-links .link:hover {
  color: #404bbf;
}
.nav-links .link:active {
  text-decoration: underline;
}
.nav-links .link:focus {
  color: #404bbf;
}
/* address */
.address-links {
  font-style: normal;
}
.address-links .link {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-links .link:hover {
  color: #404bbf;
}
.address-links .link:active {
  text-decoration: underline;
}
.address-links .link:focus {
  color: #404bbf;
}
/* main */
/* sect 1 */
.main-section-one {
  background: #2e2f42;
}
.section-one-list {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.section-one-button {
  background: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.section-one-button:hover,
.section-one-button:focus {
  background-color: #404bbf;
}
/* sect 2 */
.sect-two-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.sect-two-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* sect 3 */
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.sect-our-team {
  background: #f4f4fd;
}
.our-team-list {
  background: #fff;
}
.our-team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* sect 4 */
.our-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
/* list 1 */
/* 1 */
.photo-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.photo-title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer-links {
  background: #2e2f42;
}
.footer-links .link:hover {
  text-decoration: underline;
}
.footer-links .link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-links-logo {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
